.signup--container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.signup--container .static {
    width: 648px;
    height: 100%;
    margin-right: 120px;
    text-align: center;
    position: fixed;
}

.signup--container .static img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.signup--container .static .overlay {
    width: 648px;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black color with 50% opacity */
}

.signup--container .static .text-holder {
    position: absolute;
    top: 300px;
    left: 100px;
    width: 400px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 61px;
    color: #FFFFFF;
}

.signup--container .content {
    width: 50%;
    position: absolute;
    right: 100px;
    top: 70px;
    left: 705px;
    height: 50vh;
    display: grid;
    place-items: center;
}

.signup--container .content img {
    margin-bottom: 40px;
}

.signup--container .content .form {
    display: grid;
    place-items: center;
    width: 100%;
}

.signup--container .content .form input {
    border: none;
    width: 566px;
    height: 43px;
    left: 757px;
    margin: 8px 0px;
    padding: 10px;
    top: 467px;
    background: rgba(217, 217, 217, 0.76);
    border-radius: 5px;
}

.signup--container .content .form input[type='submit'] {
    width: 256px;
    color: white;
    font-weight: 500;
    background: #40A8EA;
    border-radius: 10px;
}

.signup--container .content .footer-text {
    text-align: center;
    margin: 10px 0;
}

.signup--container .content .footer-text span {
    color: #40A8EA;
    margin-left: 5px;
}