.content {
    width: 78%;
    position: absolute;
    top: 20px;   
    right: 0;
    padding: 0 40px 0 0;
}
.content--header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content--header .title {
    display: flex;
    font-size: 20px;
    font-weight: 700;
}


.content--header img {
    float: right;
}

.content--changing {
    position: absolute;
    top: 80px;
    width: 90%;
    height: 90vh;
}